<span class="fa fa-spinner spinner" *ngIf="data_loaded"></span>
<!--  -->

  <nz-card class="card" nzTitle="Outlets ({{totalOutlets}} Records)" [nzExtra]="extraTemplate" style="font-size: 12px;"> 
          
      <div class="table">
      <nz-table
      #borderedTable nzBordered 
      #outletTable
      id="outletTable"
      [nzData]="listOfDataToDisplay" 
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="perPage"
      [nzPageIndex]="page" 
      (nzQueryParams)="onQueryParamsChange($event)"
      >
          <thead>
            <tr>
              <th nzLeft>#</th>
              <th *ngIf="showHideColumn('id')" nzCustomFilter>ID
                <nz-filter-trigger [(nzVisible)]="visible1" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuID">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('outletName')"nzCustomerFilter>Outlet Name
                <nz-filter-trigger [(nzVisible)]="visible2" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuOutletName">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('outletCode')">Outlet Code
                <nz-filter-trigger [(nzVisible)]="visible6" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuLocation">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('cdName')" nzWidth="15%" nzCustomFilter>Credit Name
                <nz-filter-trigger [(nzVisible)]="visible3" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuCdName">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('outletType')" nzCustomFilter>Type
                <nz-filter-trigger [(nzVisible)]="visible4" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuType">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('outletRoute')" nzCustomFilter>Outlet Route
                <nz-filter-trigger [(nzVisible)]="visible5" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuOutletRoute">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('location')" nzCustomFilter>Location
                <nz-filter-trigger [(nzVisible)]="visible6" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuLocation">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('contactName')">Contact Name</th>
              <th *ngIf="showHideColumn('contactMobileNumber')">Contact Phone</th>
              <th *ngIf="showHideColumn('latitude')">Latitude</th>
              <th *ngIf="showHideColumn('longitude')">Longitude</th>
              <th *ngIf="showHideColumn('cdCode')" nzCustomFilter>Credit Code
                <nz-filter-trigger [(nzVisible)]="visible7" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuCdCode">
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('createdBy')">Created By
              </th>
              <th *ngIf="showHideColumn('createdOn')" nzCustomFilter >Created On
                <nz-filter-trigger [(nzVisible)]="visible8" [nzActive]="searchTerm.length > 0" [nzDropdownMenu]="menuCreatedOn">
                  <i nz-icon nzType="calendar"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="showHideColumn('remarks')">Remarks</th>
              <th nzRight *ngIf="showHideColumn('actions')">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of outletTable.data">
              <td nzLeft>{{ data.ID }}</td>
              <td *ngIf="showHideColumn('id')">{{ data.id }}</td>
              <td *ngIf="showHideColumn('outletName')">{{ data.outletName }}</td>
              <td *ngIf="showHideColumn('outletCode')">{{ data.outletCode }}</td>
              <td *ngIf="showHideColumn('cdName')">{{ data.cdName }}</td>
              <td *ngIf="showHideColumn('outletType')">{{ data.outletType }}</td>
              <td *ngIf="showHideColumn('outletRoute')">{{ data.outletRoute }}</td>
              <td *ngIf="showHideColumn('location')">{{ data.location }}</td>
              <td *ngIf="showHideColumn('contactName')">{{ data.contactName }}</td>
              <td *ngIf="showHideColumn('contactMobileNumber')">{{ data.contactMobileNumber }}</td>
              <td *ngIf="showHideColumn('latitude')">{{ data.latitude | number }}</td>
              <td *ngIf="showHideColumn('longitude')">{{ data.longitude | number }}</td>
              <td *ngIf="showHideColumn('cdCode')">{{ data.cdCode }}</td>
              <td *ngIf="showHideColumn('createdBy')">{{ data.createdBy }}</td>
              <td *ngIf="showHideColumn('createdOn')">{{ data.createdOn | date : 'short' }}</td>
              <td *ngIf="showHideColumn('remarks')">{{ data.remarks }}</td>
              <td nzRight *ngIf="showHideColumn('actions')">

                <button nz-button nz-tooltip [nzTooltipTitle]="toolTipViewTitle" [nzTooltipColor]="toolTipViewColor" [nzTooltipPlacement]='toolTipViewPosition' nzType="primary" nzShape="circle" nzSize="small" (click)="view(data)">V</button>&nbsp;
                <button nz-button nz-tooltip [nzTooltipTitle]="toolTipEditTitle" [nzTooltipColor]="toolTipEditColor" [nzTooltipPlacement]='toolTipEditPosition' nzType="default" nzShape="circle" nzSize="small"(click)="showModalEdit(data)">E</button>&nbsp;
                <button nz-button nz-tooltip [nzTooltipTitle]="toolTipDeleteTitle" [nzTooltipColor]="toolTipDeleteColor" [nzTooltipPlacement]='toolTipDeletePosition' nzType="primary" nzShape="circle" nzDanger nzSize="small" (click)="showDeleteConfirm(data)">D</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
            </div>
  </nz-card>

  <nz-dropdown-menu #menuID="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by ID" (keyup)="searchID()"/>
      
        <!-- <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button> -->
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuOutletName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by Outlet Name" (keyup)="searchOutletName()"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuCdName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search Credit Name" (keyup)="searchCdName($event)"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuType="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search Credit Name" (keyup)="searchType()"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuOutletRoute="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by Outlet Route" (keyup)="searchOutletRoute()"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuLocation="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by Location" (keyup)="searchLocation()"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuCdCode="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by Credit Code" (keyup)="searchCdCode()"/>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuCreatedOn="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <nz-range-picker [nzRanges]="ranges" ngModel (ngModelChange)="onChange($event)"></nz-range-picker>
      </div>
    </div>
  </nz-dropdown-menu>


  <nz-modal [nzOkDisabled] = "!formAdd.valid" [(nzVisible)]="isVisibleAdd" nzTitle="Add Outlet" nzOkText="Add Outlet" nzWidth="900px"  [nzStyle]="{ top: '15px' }" (nzOnCancel)="handleCancelAdd()" (nzOnOk)="handleOkAdd()">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="formAdd">
        <div nz-row [nzGutter]="14" class="label">
        <label  nz-col nzFlex="1.5">Outlet Type:</label>
        <label  nz-col nzFlex="1.9">Outlet Route:</label>
        <label  nz-col nzFlex="1.7">Outlet Name:</label>
        <label  nz-col nzFlex="1.6">Outlet Code:</label>
      </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzFlex="1.5">
            <nz-form-item>
              <nz-form-control id="outletType" nzErrorTip="This field is required">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Outlet Type" formControlName="outletType">
                  <nz-option nzLabel="{{type}}" nzValue="{{type}}" *ngFor="let type of outletTypes"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.9">
            <nz-form-item>
              <nz-form-control id="outletRoute" nzErrorTip="This field is required">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Outlet Route" formControlName="outletRoute">
                  <nz-option nzLabel="{{routeName}}" nzValue="{{routeName}}" *ngFor="let routeName of routeNames"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.7" >
            <nz-form-item>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Outlet Name"
                  formControlName="outletName"
                  id="outletName"
                  (change)="showFormDetails()"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.6">
            <nz-form-item>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Outlet Code"
                  formControlName="outletCode"
                  id="outletCode"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      
        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="cdName">Credit Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Enter Credit Name"
                  formControlName="cdName"
                  id="cdName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="cdName">Credit Code</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder=" Enter Credit Code"
                  formControlName="cdCode"
                  id="cdCode"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label  [nzSpan]="11" nzFor="cdContactFullName">Office Contact Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Office Contact Name"
                  formControlName="cdContactFullName"
                  id="cdContactFullName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="cdOfficePhoneNumber">Office Phone Number</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  type="email"
                  placeholder="Office Phone Number"
                  formControlName="cdOfficePhoneNumber"
                  id="cdOfficePhoneNumber"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="contactName">Contact Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Enter Contact Name"
                  formControlName="contactName"
                  id="contactName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="contactMobileNumber">Contact Phone Number</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Contact Phone Number"
                  formControlName="contactMobileNumber"
                  id="contactMobileNumber"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row >
            <div nz-col nzFlex="2.5">
                <nz-form-item>
                  <nz-form-label [nzSpan]="11" nzFor="cdEmail">Email</nz-form-label>
                  <nz-form-control nzErrorTip="This field is required">
                    <input
                      nz-input
                      type="email"
                      placeholder="Enter email"
                      formControlName="cdEmail"
                      id="cdEmail"
                    />
                  </nz-form-control>
                </nz-form-item>
                  <div nz-col [nzGutter]="16">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="11" nzFor="remarks">Remarks</nz-form-label>
                      <nz-form-control  nzErrorTip="Please write something here!">
                        <textarea formControlName="remarks" id="remarks" nz-input rows="9" placeholder="Remarks"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
              </div>
            

          <div nz-col #map  nzFlex="2.5">
           <div id="map" [nzSpan]="11" style="margin-left: 10px;">
            
              <nz-form-control row="4"  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Choose Location"
                  formControlName="location"
                  id="location"
                />
              </nz-form-control>
            <agm-map [latitude]="latLng.latitude" [longitude]="latLng.longitude" (mapClick)="addMarker($event)">
              <agm-marker [latitude]="marker[0].latitude" [longitude]="marker[0].longitude"></agm-marker>
            </agm-map>
           </div>
            <!-- <div #map id="map" class="map">
            <nz-form-item>
              <nz-form-label  [nzSpan]="13" nzFor="location">Location</nz-form-label>
              <nz-form-control row="4"  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Enter Location"
                  formControlName="location"
                  id="location"
                />
              </nz-form-control>
            </nz-form-item>
           </div> -->
          </div>
        
        </div>

        <!-- <div nz-row [nzGutter]="16">
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="remarks">Remarks</nz-form-label>
              <nz-form-control  nzErrorTip="Please write something here!">
                <textarea formControlName="remarks" id="remarks" nz-input rows="2" placeholder="Remarks"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
          </div>
        </div>
       -->
      <!-- <div nz-row [nzGutter]="16">
        <div nz-col nzFlex="1">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="remarks">Remarks</nz-form-label>
            <nz-form-control [nzSpan]="8"  nzErrorTip="Please write something here!">
              <textarea formControlName="remarks" id="remarks" nz-input rows="2" placeholder="Remarks"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div> -->
    </form>
  </ng-container>
  </nz-modal>

  <nz-modal [nzOkDisabled] = "formEdit && !formEdit.valid" [(nzVisible)]="isVisibleEdit" nzTitle="Edit Outlet" nzOkText="Edit Outlet" nzWidth="900px"  [nzStyle]="{ top: '15px' }" (nzOnCancel)="handleCancelEdit()" (nzOnOk)="handleOkEdit()">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="formEdit">
        <div nz-row [nzGutter]="14" class="label">
        <label  nz-col nzFlex="1.5">Outlet Type:</label>
        <label  nz-col nzFlex="1.9">Outlet Route:</label>
        <label  nz-col nzFlex="1.7">Outlet Name:</label>
        <label  nz-col nzFlex="1.6">Outlet Code:</label>
      </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzFlex="1.5">
            <nz-form-item>
              <nz-form-control id="outletType" nzErrorTip="This field is required">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Outlet Type" formControlName="outletType">
                  <nz-option nzLabel="{{type}}" nzValue="{{type}}" *ngFor="let type of outletTypes"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.9">
            <nz-form-item>
              <nz-form-control id="outletRoute" nzErrorTip="This field is required">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" Outlet Route" formControlName="outletRoute">
                  <nz-option nzLabel="{{routeId}}" nzValue="{{routeId}}" *ngFor="let routeId of routeIds"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.7" >
            <nz-form-item>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Outlet Name"
                  formControlName="outletName"
                  id="outletName"
                  (change)="showFormDetails()"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="1.6">
            <nz-form-item>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Outlet Code"
                  formControlName="outletCode"
                  id="outletCode"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      
        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="cdName">Credit Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder="Enter Credit Name"
                  formControlName="cdName"
                  id="cdName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="cdName">Credit Code</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  placeholder=" Enter Credit Code"
                  formControlName="cdCode"
                  id="cdCode"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label  [nzSpan]="11" nzFor="cdContactFullName">Office Contact Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Office Contact Name"
                  formControlName="cdContactFullName"
                  id="cdContactFullName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="cdOfficePhoneNumber">Office Phone Number</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  type="email"
                  placeholder="Office Phone Number"
                  formControlName="cdOfficePhoneNumber"
                  id="cdOfficePhoneNumber"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row >
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="contactName">Contact Name</nz-form-label>
              <nz-form-control  nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Enter Contact Name"
                  formControlName="contactName"
                  id="contactName"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="13" nzFor="contactMobileNumber">Contact Phone Number</nz-form-label>
              <nz-form-control nzErrorTip="This field is required">
                <input
                  nz-input
                  type="text"
                  placeholder="Contact Phone Number"
                  formControlName="contactMobileNumber"
                  id="contactMobileNumber"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row >
        
            <div nz-col nzFlex="2.5">
                <nz-form-item>
                  <nz-form-label [nzSpan]="11" nzFor="cdEmail">Email</nz-form-label>
                  <nz-form-control nzErrorTip="This field is required">
                    <input
                      nz-input
                      type="email"
                      placeholder="Enter email"
                      formControlName="cdEmail"
                      id="cdEmail"
                    />
                  </nz-form-control>
                </nz-form-item>
                  <div nz-col [nzGutter]="16">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="11" nzFor="remarks">Remarks</nz-form-label>
                      <nz-form-control  nzErrorTip="Please write something here!">
                        <textarea formControlName="remarks" id="remarks" nz-input rows="9" placeholder="Remarks"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
              </div>
    
              <div nz-col #map  nzFlex="2.5">
               <div id="map" [nzSpan]="11" style="margin-left: 10px;">
                <nz-form-control row="4"  nzErrorTip="This field is required">
                  <input
                    nz-input
                    type="text"
                    placeholder="Choose Location"
                    formControlName="location"
                    id="location"
                  />
                </nz-form-control>
                <agm-map [latitude]="latLng.latitude" [longitude]="latLng.longitude" (mapClick)="addMarker($event)">
                  <agm-marker [latitude]="marker[0].latitude" [longitude]="marker[0].longitude"></agm-marker>
                </agm-map>
               </div>

            </div>        
        </div>

        <!-- <div nz-row [nzGutter]="16">
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label [nzSpan]="11" nzFor="remarks">Remarks</nz-form-label>
              <nz-form-control  nzErrorTip="Please write something here!">
                <textarea formControlName="remarks" id="remarks" nz-input rows="2" placeholder="Remarks"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
          </div>
        </div>
       -->
      <!-- <div nz-row [nzGutter]="16">
        <div nz-col nzFlex="1">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="remarks">Remarks</nz-form-label>
            <nz-form-control [nzSpan]="8"  nzErrorTip="Please write something here!">
              <textarea formControlName="remarks" id="remarks" nz-input rows="2" placeholder="Remarks"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div> -->
    </form>
  </ng-container>
  </nz-modal>

  <ng-template #extraTemplate>
    <nz-space>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        Show/Hide Columns
        <i nz-icon nzType="down"></i>
      </button>&nbsp;
      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu style="padding: 10px; display: flex; flex-direction: column;">
        <label nz-checkbox [(ngModel)]="showAll" (click)="show_hide_all()">Show/Hide All Columns</label>
        <label nz-checkbox *ngFor="let item of checkList" [(ngModel)]="item.status" (click)="toggleStatus(item.name)">{{item.name}}</label>
        
        
        <!-- <label nz-checkbox [(ngModel)]="id" (click)="show_hide_ID()">ID</label><br>
        <label nz-checkbox [(ngModel)]="outletName" (click)="show_hide_outletname()">Outlet Name</label><br>
        <label nz-checkbox  [(ngModel)]="outletCode" (click)="show_hide_code()">Outlet Code</label><br>
        <label nz-checkbox [(ngModel)]="creditName" (click)="show_hide_creditname()">Credit Name</label><br>
        <label nz-checkbox [(ngModel)]="type" (click)="show_hide_type()">Type</label><br>
        <label nz-checkbox [(ngModel)]="outletRoute" (click)="show_hide_outletroute()">Outlet Route</label><br>
        <label nz-checkbox [(ngModel)]="location" (click)="show_hide_location()">Location</label><br>
        <label nz-checkbox [(ngModel)]="latitude" (click)="show_hide_latitude()">Latitude</label><br>
        <label nz-checkbox [(ngModel)]="longitude" (click)="show_hide_longitude()">Longitude</label><br>
        <label nz-checkbox [(ngModel)]="contactName" (click)="show_hide_contactname()">Contact Name</label><br>
        <label nz-checkbox [(ngModel)]="contactPhone" (click)="show_hide_contactphone()">Contact Phone</label><br>
        <label nz-checkbox [(ngModel)]="cdCode" (click)="show_hide_cdCode()">Credit Code</label><br>
        <label nz-checkbox [(ngModel)]="createdBy" (click)="show_hide_createdby()">Created By</label><br>
        <label nz-checkbox [(ngModel)]="createdOn" (click)="show_hide_createdon()">Created On</label><br>
        <label nz-checkbox [(ngModel)]="remarks" (click)="show_hide_remarks()">Remarks</label><br>
        <label nz-checkbox [(ngModel)]="actions" (click)="show_hide_actions()">Actions</label> -->
        </ul>
      </nz-dropdown-menu>

      <button nz-button nzType="default" (click)="showModalAdd()"><i nz-icon nzType="plus" nzTheme="outline" style="font-size: 14px; margin-top: 0px;"></i>Add Outlet</button>&nbsp;
      <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="fileType"><i nz-icon nzType="download" nzTheme="outline" style="font-size: 18px;"></i>Export</button>
      <nz-dropdown-menu #fileType="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a (click)="exportOutletsPDF()"><i nz-icon nzType="file-pdf" nzTheme="outline"></i>PDF</a>
          </li>
          <li nz-menu-item>
            <a (click)="exportOutletsExcel()"><i nz-icon nzType="file-excel" nzTheme="outline"></i>Excel</a>
          </li>
          <li nz-menu-item>
            <a (click)=" exportOutletsCSV()"><i nz-icon nzType="exception" nzTheme="outline"></i>CSV</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-space>
  </ng-template>

  

