<span class="fa fa-spinner spinner" *ngIf="data_loaded"></span>
<div class="container">
    <mat-card>
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <!-- Search Filter -->
            <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 20px;">
              <div>
                <form class="mat-form">
                  <mat-form-field class="form-field" appearance="fill">
                    <mat-label><i class="fa fa-arrowdown">&nbsp;Show/Hide Columns</i></mat-label>
                    <mat-select [formGroup]="column" multiple>
                      <!-- <mat-option (click)="show_hide_details()" *ngFor="let cd of columnDefinitions">{{cd.label}}</mat-option> -->
                      <!-- <mat-option (change)="onChange($event, 'index')" *ngFor="let cd of columnDefinitions">{{cd.label}}</mat-option> -->
                      <mat-option disabled>Tick/Untick</mat-option>
                      <div class="checkbox">
                        <p><mat-checkbox formControlName="ID" (click)="show_hide_ID()">ID</mat-checkbox></p>
                        <p><mat-checkbox formControlName="cdCode" (click)="show_hide_code()">CD Code</mat-checkbox></p>
                        <p><mat-checkbox formControlName="vehicleType" (click)="show_hide_vehicleType()"> Vehicle Type</mat-checkbox></p>
                        <p><mat-checkbox formControlName="plateNumber" (click)="show_hide_plateNumber()">Plate Number</mat-checkbox></p>
                        <p><mat-checkbox formControlName="userName"(click)="show_hide_userName()">Username </mat-checkbox></p>
                        <p><mat-checkbox formControlName="salesPerson"(click)="show_hide_salesPerson()">Sales Person </mat-checkbox></p>
                        <p><mat-checkbox formControlName="createdBy"(click)="show_hide_createdby()">Created By</mat-checkbox></p>
                        <p><mat-checkbox formControlName="createdOn"(click)="show_hide_createdon()">Created On</mat-checkbox></p>
                        <p><mat-checkbox formControlName="actions"(click)="show_hide_actions()">Actions</mat-checkbox></p>
                      </div>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
              <div>
                <div>
                  <form class="mat-form">
                    <mat-form-field class="form-field" appearance="fill">
                      <mat-label><i class="fa fa-search">&nbsp;Quick Search</i></mat-label>
                      <input matInput type="text" search (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div>
                <!-- Button trigger modal -->
                <button (click)="triggerModal('')" class="btn btn-primary">
                  <i class="fa fa-plus"></i> Add Van
                </button>
              </div>
            </div>
      <!-- /Search Filter -->

            <div fxLayout="row" fxLayoutAlign="space-between">
                <h3 _ngcontent-c48="" class="title-table"><b _ngcontent-c48="">
                    <mat-icon _ngcontent-c48="" class="mat-icon fa fa-truck" role="img" aria-hidden="true" style="padding-right: 1.5em;"></mat-icon>&nbsp;Vehicle List</b>
                </h3>
                <div>
                  <button nz-button nzType="primary" [matMenuTriggerFor]="menu" ><mat-icon> import_export</mat-icon>&nbsp;Export Data</button>
                  <mat-menu #menu="matMenu" [overlapTrigger]="false">
                      <button mat-menu-item (click)=exportVanPDF() title="Export Van_List to PDF" aria-describedby="Export Van_List to pdf">
                          <mat-icon>picture_as_pdf</mat-icon>
                          PDF
                      </button>
                      <button mat-menu-item  (click)="exporter.exportTable('xlsx', {fileName:'Distributors', sheet: 'Van_List', Props: {Author: 'Eclectics Internation'}})"
                        title="Export Van_List to PDF" aria-describedby="Export Van_List to Excel"><mat-icon>file_copy</mat-icon>
                        Excel
                      </button>
                      <button mat-menu-item (click)="exporter.exportTable('csv', {fileName:'Van_List', sheet: 'Van_List', Props: {Author: 'Eclectics Internation'}})" 
                          title="Export Van_List to Csv" aria-describedby="Export Van_List to Excel"><mat-icon>file_copy</mat-icon>
                        CSV
                      </button>
                  </mat-menu>
                </div>
            </div>
            <table mat-table matSort [dataSource]="dataSource" matTableExporter
              #exporter="matTableExporter">
                <!-- Position Column -->
                <ng-container matColumnDef="Position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.ID}}
                    </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                  <th class="id-column" mat-header-cell *matHeaderCellDef mat-sort-header 
                  [ngStyle]="{display: showHideID === false?  'table-cell' : 'none'}"> ID </th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                  [ngStyle]="{display: showHideID === false?  'table-cell' : 'none'}">
                    {{element.id}}
                  </td>
                </ng-container>
                <!-- CD Name Column -->
                <ng-container matColumnDef="CD_CODE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngStyle]="{display: showHideCode === false?  'table-cell' : 'none'}"> CD CODE </th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{display: showHideCode === false?  'table-cell' : 'none'}">
                      {{element.cdCode}}
                    </td>
                </ng-container>
                <!-- Vehicle Type Column -->
                <ng-container matColumnDef="Vehicle_Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngStyle]="{display: showHideVehicleType === false?  'table-cell' : 'none'}"> VEHICLE TYPE </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                    [ngStyle]="{display: showHideVehicleType === false?  'table-cell' : 'none'}">
                      {{element.vehicleType}}
                    </td>
                </ng-container>
                <!-- Plate Number Column -->
                <ng-container matColumnDef="Plate_Number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    [ngStyle]="{display: showHidePlateNumber === false?  'table-cell' : 'none'}"> PLATE NUMBER </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                    [ngStyle]="{display: showHidePlateNumber === false?  'table-cell' : 'none'}">
                      {{element.plateNumber}}
                    </td>
                </ng-container>
                <!-- User Name Column -->
                <ng-container matColumnDef="User_Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header
                  [ngStyle]="{display: showHideUserName === false?  'table-cell' : 'none'}"> USER NAME </th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                  [ngStyle]="{display: showHideUserName === false?  'table-cell' : 'none'}">
                    {{element.userFirstName}} {{element.userLastName}}
                  </td>
              </ng-container>
                <!-- Sales Person Column -->
                <ng-container matColumnDef="Sales_Person">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngStyle]="{display: showHideSalesPerson === false?  'table-cell' : 'none'}"> SALES PERSON </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                    [ngStyle]="{display: showHideSalesPerson === false?  'table-cell' : 'none'}">
                      {{element.salespersonId}}
                    </td>
                </ng-container>
                <!-- Created By Column -->
                <ng-container matColumnDef="Created_By">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header
                  [ngStyle]="{display: showHideCreatedBy === false?  'table-cell' : 'none'}"> CREATED BY </th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                  [ngStyle]="{display: showHideCreatedBy === false?  'table-cell' : 'none'}">
                    {{element.createdBy}}
                  </td>
              </ng-container>
              <!-- Created On Column -->
              <ng-container matColumnDef="Created_On">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                [ngStyle]="{display: showHideCreatedOn === false?  'table-cell' : 'none'}"> CREATED ON </th>
                <td mat-cell *matCellDef="let element" style="padding-left: 10px;"
                [ngStyle]="{display: showHideCreatedOn === false?  'table-cell' : 'none'}">
                  {{element.createdOn}}
                </td>
            </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                    [ngStyle]="{display: showHideAction === false?  'table-cell' : 'none'}"> Actions </th>
                    <td mat-cell *matCellDef="let element"
                    [ngStyle]="{display: showHideAction === false?  'table-cell' : 'none'}">
                      <div>
                        <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" nzSize="small"   
                        nzType="primary" nzGhost style="margin-right: 10px">
                        <i class="fa fa-cog mr-1"></i> Actions
                      </button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                          <ul nz-menu>
                            <li nz-menu-item>
                              <span (click)="view(element)" title="View Van Details" aria-describedby="View Van Details">
                                <mat-icon>remove_red_eye</mat-icon>view
                            </span>
                            </li>
                            <li nz-menu-item>
                              <span (click)="edit(element)" title="Edit Van Details" aria-describedby="Edit Van Details">
                                <mat-icon>create</mat-icon>edit
                            </span>
                            </li>
                            <li nz-menu-item>
                              <span (click)="delete(element)" title="Delete" aria-describedby="Delete Van" style="color: red;">
                                <mat-icon>delete</mat-icon>delete
                            </span>
                            </li>
                          </ul>
                        </nz-dropdown-menu>
                      </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- Row show when no data found -->
            <tr class="mat-row" *ngIf="!dataSource" >
              <td class="mat-cell" style="width: 70rem; text-align: center;font-size: 20px;"><mat-icon style="color: #c7c7c7"> table_chart</mat-icon><br>
                No Data Available
              </td>
            </tr>
            <mat-paginator
                style="font-size: 15px;font-family: 'Nunito', sans-serif;"
                [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>