<nz-card style="margin: 20px;">
    <nz-page-header
      class="site-page-header"
      nzbutton (click)="onBack()" 
      nzBackIcon
      nzTitle="Outlet Details"
    ></nz-page-header>
    <!-- nz-tooltip [nzTooltipTitle]="toolTipBackTitle" [nzTooltipColor]="toolTipBackColor" [nzTooltipPlacement]='toolTipBackPosition' -->
<nz-descriptions [nzColumn]="4" nzBordered  style="padding:20px;">
    
    <nz-descriptions-item  nzTitle="Outlet Type">{{outletData.outletType}} <br/></nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Outlet Route">{{outletData.outletRoute}}<br/></nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Outlet Name">{{outletData.outletName}}<br/></nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Outlet Code">{{outletData.outletCode}}<br/></nz-descriptions-item>
    <!-- <nz-descriptions-item  nzTitle="ID">{{outletData.id}}</nz-descriptions-item> -->
    <nz-descriptions-item  nzTitle="Location" [nzSpan]="4">{{outletData.location}}</nz-descriptions-item>
    <!-- <nz-descriptions-item  nzTitle="Latitude">{{outletData.latitude}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Longitude">{{outletData.longitude}}</nz-descriptions-item> -->
    <nz-descriptions-item  nzTitle="Cd Name" [nzSpan]="2">{{outletData.cdName}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Cd Code" [nzSpan]="2">{{outletData.cdCode}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Contact Name">{{outletData.contactName}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Contact Phone Number">{{outletData.contactMobileNumber}}</nz-descriptions-item>
    <!-- <nz-descriptions-item  nzTitle="Office Contact Name">{{outletData.outletName}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Office Phone Number">{{outletData.outletName}}</nz-descriptions-item> -->
    <nz-descriptions-item  nzTitle="Created By" [nzSpan]="2">{{outletData.createdBy}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Approved">
      <div #decode id="decode">
        <i *ngIf="readableResponse" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" style="font-size: 24px"></i>
        <i *ngIf="!readableResponse" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#FF0000'" style="font-size: 24px"></i>
      </div>
    </nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Approved By">{{outletData.approvedBy}}</nz-descriptions-item>
    <nz-descriptions-item  nzTitle="Approved On" [nzSpan]="4">{{outletData.approvedOn | date : 'short'}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Remarks" [nzSpan]="4">
      Nothing to Add<br>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>